body {
  color:#333;
  background:#DEF url(images/mishy-bg.png) repeat fixed;
  font-size:15px;
  font-family:'メイリオ',Meiryo,Osaka,'ＭＳ Ｐゴシック','MS PGothic',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Arial,sans-serif;
  padding:0;
  margin:0;
  display:flex;
  min-height:100vh;
  flex-direction:column;
}


/* animations */
@-webkit-keyframes loading {
   33% { content:"Now activating Aeon system.\APlease standby." }
   66% { content:"Now activating Aeon system.\APlease standby.."; }
  100% { content:"Now activating Aeon system.\APlease standby..."; }
}

@-moz-keyframes loading {
   33% { content:"Now activating Aeon system.\APlease standby." }
   66% { content:"Now activating Aeon system.\APlease standby.."; }
  100% { content:"Now activating Aeon system.\APlease standby..."; }
}

@keyframes loading {
   33% { content:"Now activating Aeon system.\APlease standby." }
   66% { content:"Now activating Aeon system.\APlease standby.."; }
  100% { content:"Now activating Aeon system.\APlease standby..."; }
}


/* our cute little Tio and Mishy who sit at the bottom of the screen */
#tio, #mishy {
  position:fixed;
  z-index:1;
  cursor:pointer;
  user-select:none;
}

#tio img, #mishy img {
  height:100px;
}

#tio {
  right:0px;
  bottom:-11px;
}

#mishy {
  left:0px;
  bottom:-15px;
}

.tiotip:before {
  color:#FFF;
  background:#39C;
  content:"Click me to play music.";
  font-weight:bold;
  text-align:center;
  position:absolute;
  top:-50px;
  right:10px;
  width:200px;
  height:30px;
  line-height:30px;
  border-radius:30px;
  opacity:0.90;
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.50);
  cursor:default;
}

.tiotip:after {
  content:"";
  border-top:20px solid #39C;
  border-right:10px solid transparent;
  border-left:10px solid transparent;
  position:absolute;
  top:-20px;
  right:30px;
  opacity:0.90;
  cursor:default;
}


/* the slides for our beloved Tio Tot */
.tio {
  background-position:center;
  background-size:cover;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  visibility:hidden;
  opacity:0;
  -webkit-transition:1000ms;
     -moz-transition:1000ms;
      -ms-transition:1000ms;
          transition:1000ms;
}

.tio.actiove { /* acTIOve... I'm sorry for the terrible pun m(__)m */
  visibility:visible;
  opacity:1;
}


/* placeholder texts shown briefly while images get a few seconds to preload */
#tio-placeholder {
  color:#FFF;
  font-size:42px;
  font-weight:bold;
  text-align:center;
  height:100px;
  margin-top:-150px;
  position:fixed;
  top:50%;
  left:0;
  right:0;
  z-index:101;
  opacity:1;
  visibility:visible;
  -webkit-transition:1000ms;
     -moz-transition:1000ms;
      -ms-transition:1000ms;
          transition:1000ms;
  -webkit-transition-property:opacity, visibility;
     -moz-transition-property:opacity, visibility;
      -ms-transition-property:opacity, visibility;
          transition-property:opacity, visibility;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     0px 2px 3px rgba(0, 0, 0, 0.7);
  user-select:none;
}

#tio-placeholder.loaded {
  opacity:0;
  visibility:hidden;
}

#tio-placeholder:after {
  content:"Now activating Aeon system.\APlease standby.";
  font-size:18px;
  font-style:italic;
  display:block;
  white-space:pre;
  -webkit-animation:loading 2s infinite;
     -moz-animation:loading 2s infinite;
          animation:loading 2s infinite;
}


/* for preloading our Tios */
#preload {
  width:1px;
  height:1px;
  visibility:hidden;
  overflow:hidden;
}


/* responsive thingies */
@media (max-width:1100px) {
  #tio-placeholder { font-size:32px; }
}

@media (max-width:420px) {
  #tio-placeholder { font-size:22px; }
}
